---
import favicon from '../assets/favicon.png';

const {
  title = 'Links',
  ogTitle,
  twitterTitle,
  description,
  robots = 'follow, index',
  url,
  image,
  siteName,
  locale = 'es_ES',
  twitterCard = 'summary_large_image',
  twitterSite,
  twitterCreator,
} = Astro.props;

const resolvedOgTitle = ogTitle ?? title;
const resolvedTwitterTitle = twitterTitle ?? title;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href={favicon.src} />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='robots' content={robots} />
    {description && <meta name='description' content={description} />}
    {url && <link rel='canonical' href={url} />}

    {url && <meta property='og:url' content={url} />}
    <meta property='og:type' content='website' />
    {siteName && <meta property='og:site_name' content={siteName} />}
    {description && <meta property='og:description' content={description} />}
    <meta property='og:title' content={resolvedOgTitle} />
    {image && <meta property='og:image' content={image} />}
    <meta property='og:locale' content={locale} />

    <meta name='twitter:card' content={twitterCard} />
    <meta name='twitter:title' content={resolvedTwitterTitle} />
    {description && <meta name='twitter:description' content={description} />}
    {image && <meta name='twitter:image' content={image} />}
    {twitterSite && <meta name='twitter:site' content={twitterSite} />}
    {twitterCreator && <meta name='twitter:creator' content={twitterCreator} />}
    <slot name='head' />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
